<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}


    <main class="page-content" aria-label="Content">
        <!-- Sidebar -->
        <!--aside class="sidebar" style="width: 25%; flex-shrink: 0; background-color: brown;">
            <div class="sidebar-content">
              <p>Hello from the sidebar!</p>
            </div>
          </aside-->
        
        <!-- Main Content -->
        <div class="wrapper" style="flex-grow: 1; padding: 1rem;">
          {{ content }}
        </div>
        
      
    </main>

    {%- include footer.html -%}
    {%- include sub-footer.html -%}

  </body>

</html>
